.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
out/test/**
pnpm-lock.yaml
.nvmrc
.node-version
.npmrc
docs/**
scripts/**
.tmp/**
.bin-all-backup/**
# Ensure bundled SQLite binaries are included in the VSIX
!bin/**
